Assignment # 1 Python Basics

Task 1: Variables and Data Types

a- Three variables to store int(age), str(name) and bool(is_student)

In [ ]:
age = 25
name = "ian"
is_student = True
print("age = ",age,"name = ",name, "is a student ",is_student)

age =  25 name =  ian is a student  True

b- To add values to the variables defined earlier

In [ ]:
age = 25 # value is added to the variable age
name = "ian" + " john" # john is concatenated with ian
is_student = is_student != is_student # is_student bool variable is negated
print("age = ",age,"name = ",name, "is a student! ",is_student)

age =  25 name =  ian john is a student!  False

Task 2: Expressions and Operators

a- To create a rectangle and calculate its area

In [ ]:
width = 5.5
height= 3.25
area = width * height
print("Area of the rectangle is ", area)

Area of the rectangle is  17.875

b- To get input from the user and convert temperature scale Celsius to fahrenheit using formula

In [ ]:
celsius_scale = int(input("please enter a temperature value ")) # to get input from user for temperature in celsius
Fahrenheit_scale = (celsius_scale * 9/5) + 32 # conversion of the scale to fahrenheit
print("The required Fahrenheit scale is ", Fahrenheit_scale)

please enter a temperature value 39
The required Fahrenheit scale is  102.2

c- To print area of a circle, getting input from user and using formula to calculate the area

In [ ]:
radius = int(input("Enter radius of a cirlce "))
pi = 3.14159
Area_of_circle = pi * radius *2 # formula of area of a circle
print("Area of the circle is ", Area_of_circle)

Enter radius of a cirlce 4
Area of the circle is  25.13272

Task 3: List Manipulation

a) Create a list called "fruits" containing the following fruits: "apple", "banana", "cherry", "date", "strawberry", "fig", and "grape". Print the list.

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "strawberry", "fig", "grape"]
print(fruits)

['apple', 'banana', 'cherry', 'date', 'strawberry', 'fig', 'grape']

1- Remove the first and last elements from the "fruits" list. Print the updated list.

In [ ]:
fruits.remove("apple")
fruits.remove("grape")
print(fruits)

['banana', 'cherry', 'date', 'strawberry', 'fig']

2. Replace the second to fourth items with ["kiwi", "lemon", "mango"] using list slicing.

In [ ]:
fruits[1:4] = ["kiwi", "lemon", "mango"]
print(fruits)

['banana', 'kiwi', 'lemon', 'mango', 'fig']

3. To check how many items are there in the list using function len()

In [ ]:
len(fruits)

5

Task 4: Dictionary Operations

a) Create a dictionary named "capitals" with three key-value pairs: "USA" - "Washington D.C.," "France" - "Paris," and "Japan" - "Tokyo." Print the dictionary.

In [1]:
capitals = {"USA": "Washington D.C", "France": "Paris", "Japan" : "Tokyo." }
print(capitals)

{'USA': 'Washington D.C', 'France': 'Paris', 'Japan': 'Tokyo.'}

b) Add a new country and its capital to the "capitals" dictionary. The country is "Germany," and the capital is "Berlin." Print the updated dictionary.

In [2]:
capitals['Germany'] = "Berlin"
print(capitals)

{'USA': 'Washington D.C', 'France': 'Paris', 'Japan': 'Tokyo.', 'Germany': 'Berlin'}

c) Check if "France" exists in the "capitals" dictionary. If it does, print "France is in the dictionary," otherwise, print "France is not in the dictionary."

In [3]:
print(capitals.get('France'), "France is in the dictionay")

Paris France is in the dictionay

Task 5: Comparison Operators, Logical Operators and If/Else:

a) Create a variable called number that takes user input. Write a block of code that checks if the number is positive or negative. If the number is positive only then further check if it is even or odd.

In [7]:
number = int(input("Enter a number either positive or negative: "))
if(number>0):
  if (number%2==0):
    print("The number is even")
  else:
    print("The number is odd")
else:
  print("The number you entered is negative")

Enter a number either positive or negative: 4
The number is even

b) Create two variables called age and GPA. Give them values of your choice. Next, write a block of code to check if a student with this age and GPA is eligible for admission.

In [8]:
age =30
GPA=3.5
if((age>=18) and (GPA>=3.0)): # checking if the student has an age of atleast 18y and gpa of 3.0
  print("Eligible for admission")
else:
  print("Not eligible for admission")

Eligible for admission

Task 6: Strings Manipulation

a) Create a string variable containing the following sentence:
   "Python programming is fun and powerful!"

1. Find the length of the string.

In [11]:
string_variable = "Python programming is fun and powerful!"
print(len(string_variable)) # to count all the characters in the string_variable

39

2. Convert the string to uppercase.

In [13]:
print(string_variable.upper())

PYTHON PROGRAMMING IS FUN AND POWERFUL!

   3. Replace "fun" with "exciting."

In [14]:
print(string_variable.replace("fun","exciting"))

Python programming is exciting and powerful!

4. Check if the string contains the word "Python."

In [17]:
print(string_variable.find("Python")) # returns index 0 where the word is present, if word "Python" is in the string_variable otherwise -1

0

5. Remove the word programming from the sentence and print the rest of the sentence.

In [21]:
print(string_variable.replace(" programming","")) # remove "programming" word, however the space before programming ensures grammatical correction

Python is fun and powerful!

6. Extract the last word "powerful!"

In [25]:
# split()[-1] below will extract 'powerful!" from string_variable starting from last character till a space occurs.
string_variable_extraction = string_variable.split()[-1]
print(string_variable_extraction)

powerful!

b) Given the string email = "user@example.com", perform the following:

•	Extract the username part (everything before the "@" symbol).

In [27]:
string_email = "user@example.com"
print(string_email[0:4])

user

•	Extract the domain part (everything after the "@" symbol).

In [29]:
print(string_email[5:])

example.com

•	Check if the email contains the substring "example".

In [40]:
print(string_email.find("example"), "is the index number where example is found!")
# or we can use the following code to find if the word 'example' is present or not
if ('example' in string_email):
  print('example is present in the string "string_email"')
else :
  print('word not found')

5 is the index number where example is found!
example is present in the string "string_email"

                                                                     THE END