#### [Question1]

a) Create a string variable called my_str containing the following sentence: Python programming is fun and powerful! <br>
b) Find the length of my_str. <br>
c) Replace "fun" in my_str with "exciting." Store this back in my_str and print my_str <br>
d) Find the index of the word powerful in my_str <br>
e) Split the string into a list of words (google which function can help you do this). Store this in my_str_to_list and print it

In [1]:
# create my_str below
my_str = "Python programming is fun and powerful!"

In [2]:
# find out the length of my_str. no need to store this anywhere
print(len(my_str))

39

In [3]:
# update my_str so it has the word exciting instead of fun. print my_str at the end

print(my_str.replace("fun","exciting"))

Python programming is exciting and powerful!

In [4]:
# find the index of the word powerful in my_str

print(my_str.find("powerful!"))

30

In [5]:
# create my_str_to_list and store my_str split into a list of words in this. print my_str_to_list

my_str_to_list = my_str.split()
print(my_str_to_list)

['Python', 'programming', 'is', 'fun', 'and', 'powerful!']

#### [Question2]
Given a variable called Celsius with the value 108.6, convert it to Fahrenheit. Google the formula for celcius to fahrenheit conversion. Print out Fahrenheit.

In [6]:
Celsius = 108.6

Fahrenheit =  (Celsius * 9/5) + 32# write your conversion formula here


#print out Fahrenheit below
print(Fahrenheit)

227.48

#### [Question3]

A university wants to write a program that will help them decide the eligibility of each applicant. The conditions are:
- all admits must be 18 or older in age
- if their GPA is 3.0 or above, they are eligible. If their GPA is 2.8 or above, they are eligible based on a performance test. Otherwise they are not eligible.


Given the three lists names, ages and GPA:

Write a for loop that will print out the following three things in each iteration:

- Student (insert name) has age (insert age) and GPA (insert GPA)
- Eligible for admission/ Eligible for admission based on performance test/ Not eligible for admission
- New line

example:

Student Hassan Ali has age 19 and GPA 3.0 <br>
Eligible for admission

In [7]:
names = ['Hassan Ali', 'Rabbiya Sarmad', 'Zara Haq', 'Hussain Rafay', 'Dua Hamid']
ages = [19, 17, 15, 21, 18, 20]
GPA = [3.0, 3.9, 2.5, 3.1, 2.9]


# Write your for loop below:
for i in range(len(names)):
    #print(f"Student {names[i]} has age {ages[i]} and GPA {GPA[i]}")
    print("student nanme", names[i], "has age", ages[i], "and GPA",GPA[i])
    if GPA[i] >= 3.0:
        print("Eligible for admission")
    elif GPA[i] >= 2.8:
        print("Eligible for admission based on performance test")
    else:
        print("Not eligible for admission")

student nanme Hassan Ali has age 19 and GPA 3.0
Eligible for admission
student nanme Rabbiya Sarmad has age 17 and GPA 3.9
Eligible for admission
student nanme Zara Haq has age 15 and GPA 2.5
Not eligible for admission
student nanme Hussain Rafay has age 21 and GPA 3.1
Eligible for admission
student nanme Dua Hamid has age 18 and GPA 2.9
Eligible for admission based on performance test

#### [Question 4]

Given the following list called numbers:

a) Convert it into a tuple and print it. <br>
b) Calculate the sum of this tuple. Store it in sum_numbers. print sum_numbers <br>
c) Using slicing, fetch every odd indexed element from numbers <br>
d) Create new **lists** called evens and odds. Using ONE for loop, add every even integer from the numbers tuple to evens and every odd number to odds. in the end, print numbers, evens and odds. <br>
e) Would it be possible to do this if evens and odds were tuples instead of lists?

In [8]:
numbers =  [12, 34, 45, 67, 89, 100, 23, 56]

#convert numbers into a tuple below and print numbers
numbers_tuple = tuple(numbers)
print(numbers_tuple)

(12, 34, 45, 67, 89, 100, 23, 56)

In [11]:
# create sum_numbers and store the sum of numbers in it. print sum_numbers
sum_numbers=0
for n in numbers:
  sum_numbers = sum_numbers+n
print(sum_numbers)

426

In [13]:
# fetch every odd indexed element from numbers below. No need to store this anywhere, just show output
index = 0
for n in numbers:
    if index % 2 == 1:  # Check if index is odd
        print(n)
    index += 1

34
67
100
56

In [15]:
# create empty lists called evens and odds below:
evens=[]
odds=[]

# write a single for loop to add integers from the numbers tuple to evens and odds lists below:
for num in numbers:
    if (num %2 ==0):
      evens.append(num)
    else:
      odds.append(num)




# print out numbers, evens and odd below

print("Evens:", evens)
print("Odds:", odds)

Evens: [12, 34, 100, 56]
Odds: [45, 67, 89, 23]

In [ ]:
# comment if the above would be possible to do if evens and odds were tuples instead of lists?
# No, because tuples are immutable

#### [Question 5]

a) Create a list called fruits containing the following fruits: apple, banana, orange, grape, kiwi, mango <br>
b) Using a for loop, update every single item in fruits so that the first letter is capitalized. Print fruits at the end

In [33]:
# create fruits below

fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi', 'mango']

# write a for loop to capitalize every element in fruits below
for i, f in enumerate(fruits):
    fruits[i] = f.upper()  # Update list in place

#print updated fruits below
print(fruits)

['APPLE', 'BANANA', 'ORANGE', 'GRAPE', 'KIWI', 'MANGO']

#### [Question 6]

a) Create a dictionary named "capitals" with three key-value pairs: "USA" - "Washington DC", "France" - "Paris",  and "Japan" - "Tokyo". Print the dictionary. <br>
b) Add a new country and its capital to the "capitals" dictionary. The country is "Germany" and the capital is "Berlin". Print the updated dictionary. <br>
c) Check if "France" exists in the "capitals" dictionary. If it does, print "France is in the dictionary" otherwise, print "France is not in the dictionary" (hint: you will need to use the keyword in)

In [28]:
# create the dictionary capitals below with its key:value pairs and print it

capitals = {"USA": "Washington D.C", "France": "Paris", "Japan" : "Tokyo." }
print(capitals)

{'USA': 'Washington D.C', 'France': 'Paris', 'Japan': 'Tokyo.'}

In [29]:
# add germany to capitals below and print updated dictionary

capitals['Germany'] = "Berlin"
print(capitals)

{'USA': 'Washington D.C', 'France': 'Paris', 'Japan': 'Tokyo.', 'Germany': 'Berlin'}

In [34]:
# check if france is in the dictionary and print "France is in the dictionary" or "France is not in the dictionary"

if "France" in capitals:
    print("France is in the dictionary")
else:
    print("France is not in the dictionary")

France is in the dictionary